
.main{
    margin-top: 10%;
    width: 100%;
}
.text{
    margin-left: 25%;
    height: 100%;
    width: 70%;
    /* border: 2px solid black; */
    /* padding:2%; */
}
.text>h1{
    margin-bottom: 0%;
}
/* arrow stuff */
